{% extends 'index.html' %}

{% block title %}About Me{% endblock %}

{% block head %} {% endblock %}

{% block body %} 
<div class ="main-para">

    <p>Hey, I’m Saad Shahid. 
        I’m an aspiring full-stack developer who
        mainly focuses on web development. I finished
        my last semester at York University (December 2025),
        and this website is where I share what I’m building
        and improving. My main project right now is DarjahAI
        (formerly SagyoAI) built with Flask/Python, HTML/CSS,
        JavaScript, and PostgreSQL. I’ve been developing it
        in phases—cleaning up the UI, improving the structure,
        and building real backend features like authentication,
        CRUD pages, and form validation. This personal website
        is also a project for me, not just a page—I keep refining
        it and using subdomains to organize more specialized work.
        I’m Canadian and proudly Pakistani, from an immigrant
        family that worked hard here—multiple jobs, long hours,
        and a lot of sacrifice. I don’t take any opportunity for granted.
        I’ve dealt with challenges and discrimination as a visible minority,
        but it never stopped me. If anything, it made me more disciplined and
        more serious about building a career through skill. I’m still a
        junior developer, but I’m consistent, I learn fast, and I’m ready
        to put in real work.
</p>
</div>

{% endblock %}