{% extends 'index.html' %}

{% block title %}Certifications{% endblock %}

{% block head %} {% endblock %}

{% block body %} 
<div class ="main-para">

</div>

 <section class="certif-section">
      <h2>Licenses & Certifications</h2>
      <ul class="certif-list">
        <li>
          <p><b>Build an AI Image Generator app using Imagen on Vertex AI</b> <span class="certif-span">- Google Cloud - Issued Sep 2025</span></p>
          <div class="certif-desc">Credential ID: R0XWHUACPWR8 - Skills: Image Processing</div>
        </li>
        <li>
          <p><b>Modern Security Operations</b> <span class="certif-span">- Google Cloud - Issued Sep 2025</span></p>
          <div class="certif-desc">Credential ID: UYX1QXDK6CHM</div>
        </li>
        <li>
          <p><b>The Complete Android 14 & Kotlin Development Masterclass</b> <span class="certif-span">- Udemy - Issued Sep 2025</span></p>
          <div class="certif-desc">Credential ID: UC-a653bac5-14d2-4d98-a638-6b136e504386 - Skills: Kotlin, Android, Android Studio</div>
        </li>
        <li>
          <p><b>The Legend of Python</b> <span class="certif-span">- Codédex - Issued Sep 2025</span></p>
          <div class="certif-desc">Credential ID: 160159327 - Skills: Python, Data Structures</div>
        </li>
</ul>
    </section>
 <section class="other-certif-section">
                  <h2>Other Licenses & Certifications</h2>
    <ul>
        <li>
          <p><b>ISSA CPR & AED Certificate</b> <span class="certif-span">- ISSA - Issued Aug 2025 - Expires Aug 2027</span></p>
          <div class="desc">Credential ID: 6167079 - Skills: CPR, AED</div>
        </li>
      </ul>
    </section>


{% endblock %}