{% extends 'index.html' %}

{% block title %}Courses{% endblock %}

{% block head %} {% endblock %}

{% block body %} 
<div class ="main-para">
Welcome to this page!
</div>

<section class = "course-section">
        <h1>Here are the courses i have taken at York University
            ordered by ITEC/Computer Science Relevance and Course Level:</h1>

    <div class = "courses">
        <h2>Main Courses</h2>
        <div class = "course-list">
            <h3>Development & Programming</h3>
            <div class="course-item"><b>Object-Based Programming</b><span class="course-design"> ~ ITEC 1620</span></div>
            <div class="course-item"><b>Object-Oriented Programming</b><span class="course-design"> ~ ITEC 2610</span></div>
            <div class="course-item"><b>Introduction to Analytical Programming</b><span class="course-design"> ~ ITEC 2600</span></div>
            <div class="course-item"><b>Web Technologies</b><span class="course-design"> ~ ITEC 3020</span></div>
            <div class="course-item"><b>Internet Client-Server Systems</b><span class="course-design"> ~ ITEC 4020</span></div>

            <h3>Computer Science Foundations</h3>
            <div class="course-item"><b>Introduction to Data Structures</b><span class="course-design"> ~ ITEC 2620</span></div>
            <div class="course-item"><b>Introduction to Sets and Logic</b><span class="course-design"> ~ MATH 1190</span></div>

            <h3>Data, Databases & Analytics</h3>
            <div class="course-item"><b>Introduction to Data Analytics</b><span class="course-design"> ~ ITEC 3040</span></div>
            <div class="course-item"><b>Using and Designing Database Systems</b><span class="course-design"> ~ ITEC 3220</span></div>
            <div class="course-item"><b>Database Management Systems</b><span class="course-design"> ~ ITEC 4220</span></div>
            <div class="course-item"><b>Introduction to Applied Statistics</b><span class="course-design"> ~ MATH 2565</span></div>

            <h3>AI & Machine Learning</h3>
            <div class="course-item"><b>Applied Artificial Intelligence</b><span class="course-design"> ~ ITEC 4310</span></div>

            <h3>Systems, Architecture & Networks</h3>
            <div class="course-item"><b>Systems Architecture</b><span class="course-design"> ~ ITEC 3030</span></div>
            <div class="course-item"><b>Applied Data Communications and Networks</b><span class="course-design"> ~ ITEC 3210</span></div>

            <h3>Systems Analysis, Design & UX</h3>
            <div class="course-item"><b>Systems Analysis and Design I</b><span class="course-design"> ~ ITEC 3010</span></div>
            <div class="course-item"><b>Systems Analysis and Design II</b><span class="course-design"> ~ ITEC 4010</span></div>
            <div class="course-item"><b>Designing User Interfaces</b><span class="course-design"> ~ ITEC 3230</span></div>

            <h3>IT Management, Process & Integration</h3>
            <div class="course-item"><b>Introduction to Information Technologies</b><span class="course-design"> ~ ITEC 1000</span></div>
            <div class="course-item"><b>Information and Organizations</b><span class="course-design"> ~ ITEC 1010</span></div>
            <div class="course-item"><b>IT Project Management</b><span class="course-design"> ~ ITEC 3505</span></div>
            <div class="course-item"><b>Business Process Management Systems</b><span class="course-design"> ~ ITEC 4030</span></div>
            <div class="course-item"><b>Business Integration Technologies</b><span class="course-design"> ~ ITEC 4101</span></div>

            <h3>Communication & Research</h3>
            <div class="course-item"><b>Effective Writing and Research in ITEC</b><span class="course-design"> ~ WRIT 2201</span></div>
        </div>

        <h2>Other Courses</h2>

        <div class ="course-list">
            <h3>Social Science & Society</h3>
            <div class="course-item"><b>Race, Racism &amp; Popular Culture</b><span class="course-design"> ~ ANTH 2020</span></div>
            <div class="course-item"><b>The Future of Work</b><span class="course-design"> ~ SOSC 1510</span></div>

            <h3>Health & Human Studies</h3>
            <div class="course-item"><b>Human Development</b><span class="course-design"> ~ NATS 1675</span></div>
            <div class="course-item"><b>Current Issues in Mental Health</b><span class="course-design"> ~ SOWK 2035</span></div>

            <h3>English & Literature</h3>
            <div class="course-item"><b>Literature and Health</b><span class="course-design"> ~ EN 1002</span></div>
            <div class="course-item"><b>Writer’s Introduction to Literary Forms</b><span class="course-design"> ~ EN 1006</span></div>
            <div class="course-item"><b>Gender Studies</b><span class="course-design"> ~ EN 2010</span></div>
            <div class="course-item"><b>Comedy</b><span class="course-design"> ~ EN 3191</span></div>

            <h3>Culture & Language</h3>
            <div class="course-item"><b>Japanese Culture, Literature and Film</b><span class="course-design"> ~ HUMA 1435</span></div>
            <div class="course-item"><b>Elementary German</b><span class="course-design"> ~ GER 1000</span></div>
        </div>

    </div>
    
</section>

</section>

{% endblock %}